apiVersion: v1
kind: Service
metadata:
  name: {{ k8s_service_name }}
  namespace: {{ app_namespace }}
spec:
  type: LoadBalancer
  selector:
    app: {{ app_name }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ app_port }}
